
body {
    margin-left: 1rem;
    margin-right: 1 rem;
}

body>header, footer{
    background-color: blueviolet;
    color: blue;
    padding: 1rem;
}

footer {

    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav ol, nav ul{
        margin: 0;
        padding: 0;
        list-style: none;

}

nav  li{
display: inline-block;

}
nav a{
text-decoration: none;
color: inherit;
display: block;
padding: 0.3rem 1rem;
border: 1px solid;

}